.buttons{
    font-size: 0.8rem;
}

.file{
    padding: 1rem;
}

.fileName{
    font-size: 1.25rem;
}

@media(max-width: 800px){
    .buttons{
        font-size: 0.5rem;
    }
    .file{
        padding: 0.6rem;
    }
    .fileName{
        font-size: 1rem;
    }
}