.inputContainer{
    font-size: 1.1rem;
}

.modal{
    display: flex;
}

.messageContainer{
    display: flex;
}

@media(max-width: 1100px){
    .inputContainer{
        font-size: 1rem;
    }
}
@media(max-width: 760px){
    .inputContainer{
        font-size: 0.6rem;
    }
    .modal{
        display: flex;
        flex-direction: column;
    }
    .buttonConfirm{
        padding-top: 2em;
    }
    
}